.FriendBox {
    box-sizing: border-box;
    width: 45%;
    height: 90vh;
    padding: 10px;
    min-width: 400px;
    border: solid 1px gray;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    overflow-x: hidden;
    overflow-y: scroll;
}