.Home {
    overflow: hidden;
    height: 92%;
    width: 100%;
    /* padding: 10px 3%; */
    box-sizing: border-box;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
}