.RoomPage {
    padding: 20px;
}

.page-heading {
    text-align: center;
    color: green;
}

.mediaContainer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 20px;
    border: solid 1px gray;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
}

.MediaPlayer {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: solid 1px gray;
    padding: 5px;
}

.userType {
    text-align: center;
    color: blue;
    font-weight: bold;
}