.RoomBox {
    box-sizing: border-box;
    width: 45%;
    min-width: 400px;
    height: 90vh;
    border: solid 1px gray;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 10px;
}

.RoomForm {
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 5px auto;
}

.field {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.field button {
    /* width: 40%; */
    margin-top: 10px;
    background: #ef7917;
    border-radius: 2px;
    color: #fff;
    font-size: 13px;
    padding: 5px 15px;
    border: none;
    outline: none;
    margin-left: 20px;
    border-radius: 8px;
}

.field button:hover {
    cursor: pointer;
}